.box{
  display: block;
  width: 400px;
  margin-left: auto;
  position: relative;
  top: 0;
  left: 0
}
.backProfil{
    position: relative;
    width: 400px;
    height:400px;
    top: 0;
    left: 0
}
.profil{
    width: 360px;
    height: 450px;
    position: absolute;
    top: -46px;
    left: 30px
}

@media only screen and (max-width: 992px) {
    
  .box{
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
  }
}